<!DOCTYPE html>
<html lang="es">

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/b1afb57af7.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body class="home">
    <header class="home__header">
        <div class="home_header--div--logo">
            <img class="home__header--logo" src="img/logo-mercado-liebre.svg" alt="logo mercado liebre">
        </div>
        <div class="home__header__div--busqueda">
            <div class="home__header__div__busqueda--input-icono">
                <input class="home__header--input" type="text" placeholder="Buscar productos, marcas">

                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="home__header__div--titulo">
            <div class="home__header--titulo">
                <i class="fa-solid fa-hand-holding-dollar"> </i>
                <h2> Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
        </div>
        <nav class="home__header--nav">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="">Ingresá <i class="fa-solid fa-right-from-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <div class="burger">
            <di class="relleno-burger">
                <!-- <i  class="fas fa-bars fa-lg    "></i> -->
                <i class="fa-solid fa-bars fa-lg"></i>
            </di>
        </div>

    </header>
    <div class="home__main--banner">
        <img src="img/img-home-banner.jpg" alt="imagen banner">
    </div>
    <main class="home__main">

        <section>

            <h2 class="home__main__section--ultimaVista">Basado en tu ultima vista</h2>
            <div class="home__articulos">
                <article class="articulos">

                    <img src="img/img-cafetera-moulinex.jpg" alt="imagen cafetera moulinex">
                    <div class="home_main__article_descripcionProductos">
                        <div class="home_main__article_descripcionProductos--icono">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="articulos">
                    <img src="img/img-macbook-pro-2019.jpg" alt="imagen macbook pro 2019">
                    <div class="home_main__article_descripcionProductos">
                        <div class="home_main__article_descripcionProductos--icono">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio">$230.00</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>


                <article class="articulos">
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="imagen telefono samgun galaxy s10">
                    <div class="home_main__article_descripcionProductos">
                        <div class="home_main__article_descripcionProductos--icono">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio">$7.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="articulos">
                    <img src="img/img-tv-samsung-smart.jpg" alt="imagen smart tv samsung">
                    <div class="home_main__article_descripcionProductos">
                        <div class="home_main__article_descripcionProductos--icono">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer class="home__footer">
        <article class="homer__footer--article">

            <i class="fa-solid fa-credit-card fa-2xl"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin<br> interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>

        <article class="homer__footer--article">

            <i class="fa-solid fa-gift fa-2xl"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="homer__footer--article">
            <i class="fa-solid fa-user-shield fa-2xl"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

        </article>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>