:root{
    --amarillo:#EAC926;
    --azul:#03264C;
    --celeste :#1259c3;
    --grisOscuro:#666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
    --tipografia:'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--tipografia);
    font-size: 12px;
   background-color: var(--grisClaro);
}


.precio{
    font-size: 18px;
}
.descuento , .descripcion{
    font-size: 16px;
}


.home__main__section--ultimaVista{
    font-size: 24px;
    display: flex;
    flex-wrap: nowrap;
}

img{
    width: 100%;
}

footer i{  
    
    color: var(--celeste);
    margin-bottom: 20px;
 }