/*! HEADER HOME  */

.home__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--amarillo);


}

.home__encabezado_logo-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.home_header--div--logo {
    display: flex;
    margin: 15px 0;
    width: 50%;
}

.home__header--logo {
    width: 100%;
    padding-left: 20px;


}

/* SEARCH BAR  */
.home__header__div--busqueda {
    width: 50%;
    display: flex;

}

.home__header__div__busqueda--input-icono {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;

}

.home__header__div__busqueda--input-icono i {
    position: absolute;

    left: 90%;
}

.home__header--div--titulo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home__header--titulo {

    display: flex;

    margin-bottom: 20px;
    justify-content: center;

}

.home__header--titulo h2 {
    font-size: 12px;
}

.home__header--nav {
    display: none;
}

.burger {
    display: flex;

    justify-content: center;
    margin: 20px;

}

.relleno-burger {
    padding: 11px;
    border-radius: 5px;
    background-color: var(--celeste);
    color: white;

}

/*! MAIN HOME */
.home__main {}

.home__main__section--ultimaVista {
    text-align: center;
    padding: 20px 0 20px 20px;
    color: var(--grisOscuro);
}

.home__main article {
    margin: 10px;
}

.descripcion {
    color: --grisOscuro;
}



.home_main__article_descripcionProductos {
    position: relative;
    border-top: 1px solid #ebebeb;
    height: 80px;
    padding-left: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.precio {
    width: 30%;
}

.descuento {
    width: 70%;
    color: #39b54a;
}

.precio-descuento {
    display: flex;
}

.home_main__article_descripcionProductos--icono {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

/*! FOOTER HOME */


.home__footer--caja {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    flex-wrap: nowrap;
    background-color: white;

}

.homer__footer--article:first-child {
    margin-top: 50px;

}

.homer__footer--article {

    margin: 20px 0;
    text-align: center;
    padding: 10px;

}


@media (min-width : 361px) {

    .home__encabezado_logo-input {
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .home_header--div--logo {
        width: 30%;
    }

    .home__header__div--busqueda {
        width: auto;
    }

    .home__header__div--titulo {
        display: flex;
        align-items: center;
    }

    .home__header--titulo {
        margin: 0;
    }

    .home__header--nav a,
    .home__header--nav2 a {
        text-decoration: none;

    }

    /*     .caja-nav{
        display: flex;
    } */
    .home__header--nav {
        display: block;

    }

    .caja-nav {
        display: flex;
        justify-content: space-around;
    }

    .home__header--nav-categoria {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .home__header--nav ul {
        display: flex;
    }

    .home__header--nav ul li {
        list-style: none;
        /*   float: left; */
        margin: 10px;
    }

    .home__header--nav ul li a {
        display: block;
    }

    


    .burger {
        display: none;
    }

    /* MAIN */

    .home__main {
        display: flex;
        align-items: center;
    }
    .home__main article img,
    .home_main__article_descripcionProductos {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .articulos {
        max-width: 43%;
    }

    .home__articulos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .home_main__article_descripcionProductos{
        height: auto;
    }
    .home_main__article_descripcionProductos:hover .home_main__article_descripcionProductos--icono{
        transform: rotateZ(-90deg);
        transition: all 1s ease;

    }
 
    .home_main__article_descripcionProductos .descripcion{
        
        height: 0;
        overflow: hidden;
        transition: all 1s ease;
    }
    .home_main__article_descripcionProductos:hover .descripcion{
      height:30px;

    }
    /* !FOOTER */

    
}


@media (min-width: 769px) {
    .home__articulos {
        display: flex;
        flex-wrap: wrap;
    }

    .articulos {
        max-width: 20%;
    }

    .home_main__article_descripcionProductos {
        height: 110px;
    }

    .descuento {
        padding-left: 21px;
    }
/* !footer */
.home__footer--caja{
    flex-direction: row;
   flex-wrap: nowrap;
    margin: 30px 0 30px 0 ;
   
   
}
.homer__footer--article:first-child {
    margin: 0;
}
.homer__footer--article{
    width: 33%;
    margin: 0;
}

}