/*! HEADER HOME  */

.home__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--amarillo);


}

.home_header--div--logo {
    display: flex;
    margin: 15px 0;
}

.home__header--logo {
    width: 150px;
    padding-left: 20px;


}

/* SEARCH BAR  */


.home__header__div__busqueda--input-icono {
    display: flex;

    flex-wrap: wrap;
    padding-left: 20px;

}

.home__header--input {
    width: 200px;
    margin: 5px 0;
}

.home__header__div__busqueda--input-icono i {
    width: 22px;
    height: 19px;
    border: 1px solid black;
    margin: 4px 4px;
    background-color: var(--grisClaro);
}

.home__header--div--titulo {
    display: flex;
    flex-direction: row;

}

.home__header--titulo{

    display: flex;
    
    margin-bottom: 20px;
    justify-content: center;

}
.home__header--titulo h2{
    font-size: 12px;
}

.home__header--nav {
    display: none;
}
.burger {
    display: flex;

    justify-content: center;
    margin: 20px;

}

.relleno-burger {
    padding: 11px;
    border-radius: 5px;
    background-color: var(--celeste);
    color: white;

}

/*! MAIN HOME */
.home__main {
    width: 90%;
    margin: 0 5%;

}
.home__main__section--ultimaVista{
    text-align: center;
    padding: 20px 0 20px 20px;
    color: var(--grisOscuro);
}
.home__main article {
    margin: 10px;
}

.home_main__article_descripcionProductos {
    border-top:1px solid #ebebeb;
    padding: 15px;
    background-color: white;
}

.descripcion{
    display: none;
}

.home_main__article_descripcionProductos i {
    padding: 4px;
    color: var(--verde);
    border: 1px solid var(--verde);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}




/*! FOOTER HOME */


.home__footer{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    flex-wrap: nowrap;
    background-color: white;
    
}
.homer__footer--article:first-child{
    margin-top: 50px;
   
}

.homer__footer--article{
    
    margin:20px 0;
   text-align: center;
   padding: 10px;
  
}


@media (min-width : 361px) {
    .home__main article img, .home_main__article_descripcionProductos{
       
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home__header--nav {
       display: block;
    margin: 20px 0;
    }

    .home__header--nav a{
       text-decoration: none;
    }

    .burger{
        display: none;
    }
    .descripcion{
        display: block;
       margin-top: 15px;
    }
    
}



@media (min-width:769) {
    
}